In [2]:
from sqlalchemy import create_engine
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from config import username, password

In [4]:

engine = create_engine(f"postgresql://{username}: {password} @localhost:5432/employee_database")
conn = engine.connect()

ModuleNotFoundError: No module named 'psycopg2'

In [1]:

salaries = pd.read_sql("SELECT * FROM salaries", conn)
salaries.head()

NameError: name 'pd' is not defined

In [2]:

titles = pd.read_sql("SELECT * FROM titles", conn)
titles.head()

NameError: name 'pd' is not defined

In [3]:
merged = pd.merge(salaries, titles, on="emp_no", how="inner")
merged.head()

NameError: name 'pd' is not defined

In [4]:
:
grouped = merged.groupby("title").mean()
grouped

SyntaxError: invalid syntax (<ipython-input-4-b19622ed8f10>, line 1)

In [5]:
title_salary_df = grouped.drop(columns = "emp_no")
title_salary_df

NameError: name 'grouped' is not defined

In [6]:

title_salary_df = title_salary_df.reset_index()
title_salary_df

NameError: name 'title_salary_df' is not defined

In [7]:
x_axis = title_salary_df["title"]
ticks = np.arange(len(x_axis))
y_axis = title_salary_df["salary"]
 
plt.bar(x_axis, y_axis, align="center", alpha=1.0, color=["pink", "b", "r", "orange", "y", "b", "g"])

plt.xticks(ticks, x_axis, rotation="vertical")

plt.ylabel("Salaries ($)")
plt.xlabel("Employee Title")
plt.title("Average Employee Salary by Title")

plt.savefig("../Images/avg_salary_by_title.png")

plt.show()

NameError: name 'title_salary_df' is not defined